<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <input class="form-control fade-placeholder" type="text" name="title" id="title" placeholder="Add title"/>
      </div>
      <div class="modal-body">
        <textarea class="form-control fade-placeholder" name="description" id="description" placeholder="Add description" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-border-primary modal-btn px-4 py-2" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-btn px-4 py-2">Save</button>
      </div>
    </div>
  </div>
</div>
