.bg-image {
    background-image: url(../../../assets/images/authentication/backgroundImage.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba($color: #f7e9d230, $alpha: 1.0);
}
